header.header#header
  nav.navbar.break-points#home
    .navbrand
      a(href="/").navbrand-link: img(src="img/logo.png", alt="logo")
    .navtoggle#navtoggle.button-cta
      .navigation
        input(type="checkbox" class="navigation__checkbox" id="navi-toggle")
        label(for="navi-toggle" class="navigation__button"): span.navigation__icon &nbsp;
        .navigation__background &nbsp;
        .navigation__nav
          ul.navigation__list
            li.navigation__item: a(href="#titanes" class="navigation__link") Titanes
            li.navigation__item: a(href="#videos" class="navigation__link") Videos
            li.navigation__item: a(href="#descargas" class="navigation__link") Descargas
            li.navigation__item: a(href="#contacto" class="navigation__link") Contacto
            //- li.navigation__item: a(href="#" class="navigation__link") Book now