header.break-points.header
  nav.navbar#home(class="wow fadeInDown" data-wow-duration="2s")
    .navbrand
      a(href="/").navbrand-link: h2 Servicios Quintero
    ul.main-menu.gradient-color#main-menu
      li.main-menu_item: a.main-menu_link(href="/") Inicio
      li.main-menu_item: a.main-menu_link(href="#services") Servicios
      li.main-menu_item: a.main-menu_link(href="#experience") Experiencia
      li.main-menu_item: a.main-menu_link(href="#contact") Contacto
    .navtoggle#navtoggle.button-cta
      i.fa.fa-bars