section.section-banner#main-
  .section-popimg
  .section-banner__container#container 
    img.banner-img__source(src='/img/titanes2.png' alt='logo')
  .contact-btn
    a(href="https://wa.me/5217821280930" target='_blank' rel="noopener noreferrer" class='btn btn--white btn--animated') Contacto
    