section.main-banner#main-banner
  .main-banner__container#container
    .banner-item(style="background-image: url(/img/image1.jpg)")#banner-item
    .banner-item(style="background-image: url(/img/image2.jpg)")
    .banner-item(style="background-image: url(/img/image3.jpg)")
  .main-banner__text
    h1.main-banner__text-title(class="wow fadeInRight" data-wow-duration="2s") Awesome Title