section.section-services.break-points.p-section
  +card('https://res.cloudinary.com/dmq9e2wuv/image/upload/v1666906775/rqx9wq8to2jjse9odaef.jpg','#ffb900','#ff7730','Música en vivo','3 sets de música en vivo','btn--white')
  +card('https://res.cloudinary.com/dmq9e2wuv/image/upload/v1666906775/sn4fldslbtaz6hmyqoo8.jpg','#F776D4','#C22397','Equipo Profesional','Audio e iluminación profesional','btn--pink')
  +card('https://res.cloudinary.com/dmq9e2wuv/image/upload/v1666890751/bmarg3tnw6g2gpsegwkp.jpg','#60C2E6','#1483AD','El mejor ambiente','Pregunta por los paquetes','btn--blue')