section.section-videos.break-points.p-section
  h2.title Videos
  .card-video
    .card-video__img
    .card-video__description
      p.card-video__text Titanes Band en Rumbao Centro de Espectáculos Poza Rica 2022
    .card-video__circle
      i.fa.fa-youtube-play