section#videos.section-videos.break-points.p-section
  h2.title Videos
  .videos__grid 
    +cardVideo('img/06-img.jpg','Cumbia de las cervezas - Cumbia del afilador - Cumbia del carrito Titanes Band 2022','https://www.youtube.com/watch?v=57xnHUqsGmc')
    +cardVideo('img/07-img.jpg','Al compás de las polleras - Cumbia del sapito - Chacuchá - Titanes Band 2022','https://www.youtube.com/watch?v=STOtBPIXmFI')
    +cardVideo('img/08-img.jpg','Llorarás - Titanes Band 2022','https://www.youtube.com/watch?v=8g9khflT6a8')
    +cardVideo('img/09-img.jpg','Tus jefes no me quieren - La guaracha - Conga y timbal - Los ferrocarriles - Titanes Band 2022','https://www.youtube.com/watch?v=jUNRpMvi61g')
    