section#descargas.section-download.break-points.p-section 
  h2.title Descargas
  .download-container
    a(href="https://drive.google.com/drive/folders/18HrSPz7VWn9BhsVr9ResZzsvlTXAlFa_?usp=sharing" rel="noopener noreferrer" target='_blank').download-link Descarga aquí <span><i class='fa fa-download'></i><span>
  