footer.section-footer 
  .break-points
    .social-network__container
      a(href="https://www.facebook.com/titanesband" target='_blank' rel="noopener noreferrer").social-network__item
        i.fa.fa-facebook
      a(href="https://www.youtube.com/@titanesband" target='_blank' rel="noopener noreferrer").social-network__item
        i.fa.fa-youtube-play
      a(href="https://wa.me/5217821280930" target='_blank' rel="noopener noreferrer").social-network__item
        i.fa.fa-whatsapp
  p.paragraph.footer-text Desarrollado por <a href='https://robertoquintero.vercel.app/' class='author' target='_blank' rel="noopener noreferrer">Roberto Quintero</a> 