.btn{
  &,
  &:link,
  &:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    font-size: 13px;
    border-radius: 100px;
    transition: .2s;
    position: relative;
    font-size: 1rem;

    //change for the <button> element
    border: none;
    cursor: pointer;
  }
  
  &:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba($black,.2);

    &::after{
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }

  }
  
  &:active,
  &:focus
  {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba($black,.2);
  }
  
  &--white{
    background-image: linear-gradient(to right,#ff8800 0% 70%,#ffea00 );
    color: $white;
  }
  &--pink{
    background-image: linear-gradient(to right,#C22397 0% 70%, #F776D4 );
    color: $white;
  }
  &--blue{
    background-image: linear-gradient(to right,#1483AD 0% 70%,#60C2E6 );
    color: $white;
  }

  
  &::after{
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    transition: .4s;
  }
  
  &--white::after{
    background-image: linear-gradient(to right,#ff8800 ,#ffea00 );
  }
  &--pink::after{
    background-image: linear-gradient(to right,#C22397, #F776D4 );
  }
  &--blue::after{
    background-image: linear-gradient(to right,#1483AD,#60C2E6 );
  }

  &--animated{
    animation: moveInBottom .5s ease-out .7s;
    animation-fill-mode: backwards;
    /* espera el diley  para mostrar la animacion */
   }
  
  
}

.contact-btn{
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  animation: fadeIn 7.5s ease-in;
  
}

@keyframes fadeIn {
  0%{
    bottom: 1.5rem;
    opacity: 0;
  }
  90%{
    bottom: 1.5rem;
    opacity: 0;
  }
  100%{
    bottom: 2.5rem;
    opacity: 1;
  }
  
}