.break-points{
    max-width: 540px;
    margin: 0 auto;
    padding: 0 1em;
    @media screen and (min-width: 767px) {
        max-width: 690px;
        padding: 0;
    }
    @media screen and (min-width:991px){
        max-width: 930px;
    }
    @media screen and (min-width:1200px){
        max-width: 1110px;
    }
}
.p-section{
    padding: 2rem 1rem;

    @media screen and (min-width:575px) {
        padding: 3rem 1rem;
    }
    @media screen and (min-width:991px) {
        padding: 4rem 1rem;
    }
}

.pt{padding-top: 1rem;}
.pb{padding-bottom: 1rem;}
.py{padding-top: 1rem; padding-bottom: 1rem;}
.pa{padding: 1rem;}
.pt-2{padding-top: 2rem;}
.pb-2{padding-bottom: 2rem;}
.pa-2{padding: 2rem;}
.py-2{padding-top: 2rem; padding-bottom: 2rem;}

.mt{margin-top: 1rem;}
.mb{margin-bottom: 1rem;}
.my{margin-top: 1rem;margin-bottom: 1rem;}
.ma{margin: 1rem;}
.mt-2{margin-top: 2rem;}
.mb-2{margin-bottom: 2rem;}
.ma-2{margin: 2rem;}
.my-2{margin-top: 2rem;margin-bottom: 2rem;}

.inline-block{
    display: inline-block;
}