@mixin pseudoelement(){
    content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: rgba(0,0,0,.5);
        z-index: $z-normal;
}

@mixin flex($side){
    display: flex;
    justify-content: $side;
    align-items: center;
}
