@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat+Alternates:wght@200;300;400;500;600;700&family=Shadows+Into+Light&display=swap');


.paragraph,.title{
  font-family: 'Montserrat Alternates', sans-serif;
}

.title{
  font-size: $fontSize-l;
}
.paragraph{
  padding-top: 2rem;
}

.color-white{
  color: $white;
}