.main-banner{
  width: 100%;
  position: relative;
 
}
.main-banner::before{
  @include pseudoelement();
  background-color: transparent;
}

.main-banner__container{
  display: flex;
  width: 300%;

}
.banner-item{
  position: relative;
  top: 0;
  width: 100%;
  height: 85vh;
  background: {
    position: center;
    size: cover
  };
}
.banner-img{
  width: 100%;
  display: block;
}
.main-banner__text{
  position: absolute;
  padding: 3em 1rem 2em;
  z-index: $z-tooltip;
  height: 100%;
  width: 100%;
  background-color: $black;
  bottom: 0;
  clip-path: polygon(0 50%, 0% 100%, 86% 100%);
  display: flex;
  align-items: flex-end;
  @media (min-width:990px){
    clip-path: polygon(0 12%, 0% 100%, 64% 100%);

  }
  
  &-title{
    position: relative;
    padding-left: 1rem;
    color:$white;
    font-size: $fontSize-m;
    @media (min-width:990px) {
      font-size: $fontSize-l;
      padding: 2rem ;
    }
    @media (min-width:1300px) {
      font-size: $fontSize-xl;
    }
    &::before{
      content: '';
      position: absolute;
      transform: translateX(-1rem);
      height: 100%;
      width: 2px;
      background-color: $accent;
      @media (min-width:990px) {
        height: 60%;
      }
      @media (min-width:1300px) {
        height: 70%;
      }
    }
  }
}
.animation{
  animation: slide ;
  animation-duration: 1s;
}
@keyframes slide{
  from{
    transform: translateX(0);
  }
  
}

