.section-bio{
  position: relative;
  width: 100%;
  height: auto;

  &::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient( to bottom, #fff,transparent 15% 85%,#fff), url('https://res.cloudinary.com/dmq9e2wuv/image/upload/v1666890751/bmarg3tnw6g2gpsegwkp.jpg') ;
    background-size: cover;
    background-position: center;
    opacity: .2;
    z-index: -100;
  }
}

