.section-services{
  
  // border: 1px solid red;
  display: grid;
  grid-template-columns: minmax(auto,400px);
  justify-content: center;
  gap: 2rem;
  
  
  
  @media screen and (min-width:768px){
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

  }
}