.gallery-container {
  max-width : 1110px;
  display: grid;
  grid-gap: .5em;
  justify-content: center;

  @media screen and (min-width : 640px) {
    grid-template-columns: repeat(3,1fr);
  }

}
.gallery-img {
  display : block;
  width: 100%;
  cursor: pointer;
}

.lightbox-overlay {
  position : fixed;
  top : 0;
  left : 0;
  width : 100%;
  height : 100%;
  background : rgba(#000,.8);
  display : flex;
  z-index : 100;
}

.lightbox-container {
  position : relative;
  width : 90%;
  max-width : 560px;
  margin : auto;
  background : #fff;
  padding : 1em;
  border-radius : .2em;

  &-image {
    width : 100%;
  }
}

.close-modal {
  $size: 1.8em;
  background : $accent;
  color: #fff;
  position : absolute;
  width : $size;
  height : $size;
  text-align : center;
  line-height : $size;
  top : - $size / 2;
  right: - $size / 2;
  border-radius : 50%;
  cursor: pointer;
}

.lightbox-description {
  text-align : center;
  font-size : 1.1em;
  margin-top: .5rem;
}

.lightbox-navigation {
  display : flex;
  justify-content: space-between;
  font-size : 1em;
  opacity : .8;

  &__button {
    text-decoration : none;
    color: $accent;
  }
}


