include ../components/buttons.pug
include ../components/card.pug
<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0,user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description" content="")
        meta(property="og:locale" content="es_MX")
        meta(property="og:title" content="")
        meta(property="og:description" content="")
        meta(property="og:image" content="")
        meta(property="og:type" content="website")
        meta(property="og:site_name" content="")
        meta(property="og:url" content="")
        meta(property="og:image:width" content="735")
        meta(property="og:image:height" content="403")
        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:title" content="")
        meta(name="twitter:image" content="")
        meta(name="twitter:description" content="")
        meta(name="google-site-verification" content="")
        link(rel="shortcut icon", href="img/favicon.png", type="image/x-icon")
        link(rel="stylesheet", href="styles.css")
        title Titanes Band Oficial
       
    body
        include ../blocks/1-menu
        include ../blocks/2-banner
        include ../blocks/3-bio
        include ../blocks/4-services
        include ../blocks/5-videos
        main
        //- include ../blocks/7-footer

        script(src="script.js")
          